.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
    @media screen and (max-width: 800px) {
        width: unset;
    }
    .title {
       margin: 10px 0; 
    }
    .buttons {
        @media screen and (max-width: 800px) {
            justify-content: center;
            display: grid;
            grid-gap: 10px;
        } 
    }
}